button {
  background-color: #dc641a; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Space inside the button */
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor to a hand pointer */
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth color change on hover */
}

button:hover {
  background-color: #e0aa15; /* Darker blue on hover */
}
body {
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; 
        
     
}

 
